<!-- <form method="POST" action="http://formspree.io/gebauer.phil@gmail.com" class="contact-form" >

<p>  Name </p>
<input name="name" >

<p>  Email </p>
<input name="email" >

<p>  Question </p>
<input name="question" >

<button type="submit" class="btn btn-raised">
                      Send Message
                    </button>
                    <input type="hidden" name="_next" value="http://www.google.com" />

</form> -->

<div class="container">
<form method="POST" action="http://formspree.io/gebauer.phil@gmail.com" class="contact-form" >

   <div class="group">
     <input name="Name" type="text" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Name</label>
   </div>

   <div class="group">
     <input name="Email" type="text" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Email</label>
   </div>

   <div class="group">
     <input name="Question" type="text" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Question</label>
   </div>

   <button type="submit" class="btn btn-raised">Send Message</button>

<input type="hidden" name="_next" value="#home" />

 </form>

 </div>
