
<div class="spacing">
<b><p>Spanish Instructor - Loyola University Chicago</p>
<p>Aug 2015 – Present </p>
<p>Instruct undergraduate Spanish 101 courses, create lesson plans, grade exams and assignments, update course materials using online course management software, meet with students during office hours</p>

<hr>

<b><p>Teaching and Technology Assistant - Loyola University Chicago</p>
<p>Aug 2015 – Present </p>
<p>Assist faculty with course management software (Sakai) and online language tools</p>
<p>Develop projects to improve integration of technology into foreign language teaching in Modern Language department </p>

<hr>

<b><p>AmeriCorps LENS Member - Instituo delProgreso Latino</p>
<p>Sept. 2014 – March 2015 </p>
<p>Facilitate bilingual résumé workshops and tutoring sessions
  with students in the Manufacturing program, Provide
  bilingual orientation presentations for prospective students
  in the Manufacturing program; Worked as Case Manager with
  Manufacturing program participants </p>

<hr>

<b><p>Group Leader - Family of Christ Luthern Church</p>
<p>Dec 2013 - Jul 2014 </p>
<p>Led 20 church members in trip to El Salvador to learn about the country’s history and politics; Translated testimonies, sermons, and directions between Spanish and English; Prior to trip, communicated with church leaders to create an itinerary; Organized hotel accommodations, transportation, and food for 20 church members in El Salvador</p>

<hr>

<b><p>Library Asscociate - Carleton College</p></b>

<p>Sep 2010 – Jun 2014 </p>
<p> Checked in and checked out books for library patrons using Millennium library software, Answered general library questions, shelved books, managed the stacks

</div>
